* {
  perspective: 1000px;
  }

.card {
  --height: 50vh;
  --transition: 0.4s;
  --hover-transition: 0.2s;
  width: var(--height);
  height: var(--height);
  text-align: center;
  font-size: 38px;
  font-family: Segoe UI;
  color: white;
  text-shadow: 1px 1px 1px #BBBBBB;
  /* text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; */
  transition: all var(--transition), outline var(--hover-transition), background-color var(--hover-transition);
}

.front {
  display: flex;
  justify-content: center;  /*Center Contents*/
  align-items: center;  /*Center Contents*/
  position: absolute;
  background: #8D8FDF;
  background-position: center;
  background-size: cover;
  width: inherit;
  height: inherit;
  transition: all var(--transition);
}

.back {
  display: flex;
  justify-content: center;  /*Center Contents*/
  align-items: center;  /*Center Contents*/
  position: absolute;
  background-color: pink;
  width: inherit;
  height: inherit;
  z-index: -1;
  transition: all var(--transition);
  transform: rotateY(180deg);
}

.front::before, .back::before { /*Click Effect*/
  transition: all var(--hover-transition);
}

.front:hover::before, .back:hover::before {  /*Hover Effect*/
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.2);
  width: var(--height);
  height: var(--height);
  pointer-events: none;
}

.front:active::before, .back:active::before { /*Click Effect*/
  background: rgba(255, 255, 255, 0.5);
}

.card:hover {
  outline: 4px solid #DEFEDF;
}

.card:active {
  outline: 2px solid #DFFFDF;
}

.card:hover > .front {
  /* background-color: #A3A5E5; */
}

.card:hover > .back {
  background-color: #FFCCD5;
}

.card:active > .front {
  background-color: #BABBEB;
}

.card:active > .back {
  background-color: #FFD9DF;
}

.card.flip {
  transform: rotateY(-180deg);
}

.flip > .back {
  z-index: 1;
}